{$SUPPQ_HOSTNAME} {
  encode zstd gzip

  @api path /api/*
  handle @api {
    reverse_proxy {$SUPPQ_API_UPSTREAM}
  }

  handle {
    root * {$SUPPQ_H5_ROOT}
    try_files {path} /index.html
    file_server
  }

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}
